// Specific CSS for your home-page
@media (max-width: 600px) {
  body {
    background: #202225;
    color: #bb86fc;
  }

  .body-container {
    padding-top: 50px;
    text-align: center;
    margin: 0 auto;
    width: 300px;
  }
}
