<div class="alert-container">
  <h1>Thanks for registering with Twocycle!</h1>
  <br>
  <h3>Your confirmation number is: 2398749</h3>
  <br>
  <p>Smart phones in working condition usually get a return of €20-30. We will be in contact with you within 24 hours of pickup with more details about the status of your device.</p>
</div>
