<div class="alert-container">
  <h2>Thanks for registering with Twocycle!</h2>
  <br>
  <h3>Your confirmation number is: <%= rand(4001..10099)%></h3>
  <br>
  <p>Smart phones in working condition usually get a return of <b>€20-30</b>. We will be in contact with you within 24 hours of pickup with more details about the status of your device.</p>
  <br>
  <%= link_to "Back", root_path, class: "confirm-btn" %>

  </div>
