<div class="contact">
    <h2>Follow us on Github </h2>
    <div clas="github-icon" style=" display: flex; flex-direction: row; text-align: center; justify-content: space-around; margin-top:3em;">
        <a href="https://github.com/Odetyte"><i class="fab fa-github" aria-hidden="true"> Odeta </i></a>
        <a href="https://github.com/sweetening"><i class="fab fa-github" aria-hidden="true"> Sanja </i></a>
        <a href="https://github.com/vagp89"><i class="fab fa-github" aria-hidden="true"> Victoria </i></a>
    </div>
</div>
