<div class="banner">
  <img src="https://www.fahrwerk-berlin.de/wp/wp-content/themes/fahrwerktheme/images/banner/Banner_retina_neu_fahrwerk.jpg" width="100%" alt="Bicycle courier" />
</div>
  <div class="body-container">
    <p style="text-align: left">Do you have an old phone that you don’t know what do with?</p>

    <p style="text-align: right">Or an old microwave that stopped working but you don’t want to just throw it away?</p>

    <p style="text-align: center"><b>Twocycle</b> offers a convenient way to recycle your old electronics <b>for cash</b> with just a few clicks.</p>
    <p style="text-align: center">We offer pickup service via <b>carbon neutral</b> bicycle couriers: all you have to do is schedule a time!</p>

    <div class="dropdown">
      <select name="cars" id="dropbtn" form="device">
        <option value="device">What kind of device do you want to recycle?</option>
        <option value="phone">Smart Phone</option>
        <option value="tablet">Tablet</option>
        <option value="laptop">Laptop</option>
        <option value="monitor">Computer Monitor</option>
        <option value="dryer">Hair Dryer</option>
        <option value="microwave">Microwave</option>
        <option value="tv">TV</option>
        <option value="dishwasher">Dishwasher</option>
        <option value="machine">Washing Machine</option>
        <option value="other">Other</option>
      </select>
    </div>

    <div class="dropdown">
      <select name="cars" id="dropbtn" form="device">
        <option value="device2">Does the device work? Can it be powered on?</option>
        <option value="yes">Yes</option>
        <option value="no">No</option>
      </select>
    </div>

    <div class="button">
          <button onClick="#" id="dropbtn">Schedule Pickup</button>
    </div>
  </div>


