<div class="banner">
  <img src="https://www.fahrwerk-berlin.de/wp/wp-content/themes/fahrwerktheme/images/banner/Banner_retina_neu_fahrwerk.jpg" width="100%" alt="Bicycle courier" />
</div>
  <div class="body-container">
    <p style="text-align: left">Do you have an old phone that you don’t know what do with?</p>

    <p style="text-align: right">Or an old microwave that stopped working but you don’t want to just throw it away?</p>

    <p style="text-align: center"><b>Twocycle</b> offers a convenient way to recycle your old electronics <b>for</b> cash with just a few clicks.</p>
    <p style="text-align: center">We offer pickup service via carbon neutral bicycle couriers: all you have to do is schedule a time!</p>

    <div class="dropdown">
      <select name="cars" id="dropbtn" form="device">
        <option value="volvo">What kind of device do you want to recycle?</option>
        <option value="saab">Smart Phone</option>
        <option value="opel">Laptop</option>
        <option value="opel">Tablet</option>
      </select>
    </div>

    <div class="dropdown">
      <select name="cars" id="dropbtn" form="device">
        <option value="volvo">Does the device work? Can it be powered on?</option>
        <option value="saab">Yes</option>
        <option value="opel">No</option>
      </select>
    </div>

  </div>




