.confirm-btn{
    width: 30%;
    font-size: 18px;
    background: linear-gradient(to right, #bb86fc, #7300ff);
    color: #c4c4c4;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    margin-top: 1em;
    padding: 0.4em;
}
