.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.navbar-nav {
  align-items: flex-end;
}
.navbar h1 {
  font-family: Saira;
  color: #c4c4c4;
  font-size: 40px;
  margin-left: 3rem;
  margin-top: 0.5em;
}

.navbar-p p {
  margin-top: 1em;
  font-family: Saira;
  color: #c4c4c4;
}
.navbar {
  background: linear-gradient(to right, #bb86fc, #7300ff);
}
