// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";



// Your CSS partials
@import "components/index";
@import "pages/index";

@media (max-width: 600px) {
  .header h1 {
    color: #bb86fc;
    background-color: black;
    text-align: center;
  }

  body {
    background-color: black;
    color: #bb86fc;
  }

  .banner {
    object-fit: cover;
  }
  .body-container {
    padding-top: 50px;
    text-align: center;
    margin: 0 auto;
    width: 300px;
  }
}